fastapi>=0.104.1
uvicorn[standard]>=0.24.0
pydantic>=2.4.2
sentence-transformers>=2.2.2
huggingface_hub==0.20.0
transformers<4.39
numpy<2.0.0
torch
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
